/* colors inspired by Haddock’s linuwial.css */
:root {
	--c-high: #9e358f;
	--c-high-light: #b95ca6;
	--c-line: #ddd;
	--c-back: #fefefe;
	--c-main: #333;

	--c-elem-fg: #fefefe; /* --c-back */
	--c-elem-bg: #5e5184; /* sync with theme-color <meta> */
	--c-elem-bd: #453b61;
}

/* dark theme */
@media (prefers-color-scheme: dark) {
	:root {
		--c-high: #eb82dc;
		--c-back: #333;
		--c-main: #fefefe;
		--c-line: #555;
	}

	/* filter: brightness(2.0) */
	main, aside {
		--c-elem-fg: #333;
		--c-elem-bg: #bca2ff;
	}
}

/* general */
html, body { display: flex; flex-direction: column; height: 100%; }
body { margin:0; padding: 0; color: var(--c-main); background: var(--c-back); font-family: Helvetica, Verdana, Arial, 'Liberation Sans', FreeSans, sans-serif; }
h1, h2, h3, h4, h5, h6 { margin: 0; }
pre { overflow: auto; }
hr { color: var(--c-line); }
blockquote { font-style: italic; padding-left: 1ex; border-left: 5px solid var(--c-line); }
a { text-decoration: none; }
.tag { text-transform: capitalize; }

/* header and top bar */
header a { color: inherit; }
header { background-color: var(--c-elem-bg); color: var(--c-elem-fg); border-bottom: 5px solid var(--c-elem-bd); padding: 0.5ex; font-size: xx-large; }
header span.headerTitle { font-weight: bold; }
header span.headerSubTitle { margin-left: 1em; font-size: medium; font-style: italic; }
header a:hover { text-decoration: none; }

/* sidebar */
aside { border-right: 1px solid var(--c-line); padding: 0; min-width: 15em; }
nav ul { list-style-type: none; padding-left: 0; }
nav li ul { padding-left: 0.6em; }
nav a:before { content: "› "; }
nav a { color: var(--c-elem-bg); display: block; font-weight: bold; padding: 0.25em 1ex 0.25em 2mm; }
nav a:hover { color: var(--c-elem-fg); background-color: var(--c-elem-bg); border-left: black solid 0.2em; }
nav p { font-weight: bold; margin: 0 0 0.5em 2mm; padding: 1em 0 0 0; }

/* main copy */
.content { display: flex; flex-direction: row; flex-basis: 100%; }
.metadata { font-style: italic; font-size: small; }
.metadata a, a.footnote-ref { text-decoration: none; }
main a { text-decoration: underline; }
main { flex-basis: 55%; padding: 0.5ex 0 2vh 1vw; }
main h1 { margin-top: 2vh; }
main h1, main h2 { color: var(--c-elem-bg); font-weight: bold; }
main h3, main h4, main h5 { color: var(--c-elem-bg); font-weight: bold; margin: 2em 0 0 0; }
main h6, main h7, main h8 { color: var(--c-elem-bg); font-weight: bold; margin: 2em 0 0 0; }
main a { color: var(--c-high); }
main a:hover { color: var(--c-high-light); }
main section.footnotes { font-size: small; }

/* footer */
footer { color: var(--c-elem-fg); background-color: var(--c-elem-bg); margin-top: auto; }
footer a { color: inherit; }
footer a:hover { text-decoration: underline; }
footer div { padding: 1em; }

/* responsive design */
@media (max-width: 800px) {
	aside { border-top: 1px solid var(--c-line); order: 1; margin-top: auto; }
	footer { margin-top: 0; }

	.content { flex-direction: column; }
	main { padding-right: 0.5rem; padding-left: 0.5rem; }
}
