<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>$title$</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<link rel="stylesheet" href="/css/default.css">
	<link rel="stylesheet" href="/css/syntax.css" />
</head>
<body>
	<header>
		<h1><a href="/">notes<span id="headerSubTitle">assorted ramblings on computer</span></a></h1>
	</header>

	<div class="content">
		<aside>
			$sidebar$
		</aside>
		<main>
			$body$
		</main>
	</div>

	<footer>
		<div style="margin-right: auto;"><a href="https://jaspervdj.be/hakyll">Powered by Hakyll</a></div>
	</footer>
</body>
</html>
